
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:camel="http://camel.apache.org/schema/spring"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
          http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
          http://camel.apache.org/schema/spring http://camel.apache.org/schema/spring/camel-spring.xsd
          http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<context:component-scan base-package="com.ml.v2.integ" />

	<!-- Configuração do contexto do Apache Camel e exposição como JMX. -->
	<camel:camelContext id="camel">
		<camel:package>com.ml.v2.integ</camel:package>
		<camel:jmxAgent id="agent" loadStatisticsEnabled="true"
			statisticsLevel="All" createConnector="false" />
	</camel:camelContext>
	
	<!--<bean id="slotKeyStrategy" class="com.ml.core.impl.accesslog.MinuteBasedGenerationStrategy"/>-->
	<!---->
	<!--<bean id="httpEventsRepository" class="com.ml.core.impl.accesslog.HttpEventsRepository">-->
		<!--<constructor-arg index="0" type="int" value="1"/>-->
		<!--<constructor-arg index="1"  ref="slotKeyStrategy"/>-->
	<!--</bean>-->
	<!---->
	<!--<bean id="httpEventsModel" class="com.ml.core.impl.accesslog.HttpEventsModel">-->
		<!--<constructor-arg index="0" ref="httpEventsRepository"/>-->
		<!--<constructor-arg index="1" value="30"/>-->
		<!--<constructor-arg index="2" value="15"/>-->
		<!--<constructor-arg index="3" value="5"/>-->
	<!--</bean>-->

    <bean id="slotKeyStrategy" class="com.ml.v2.flow.repository.impl.MinuteBasedGenerationStrategy"/>

    <bean id="httpEventsRepository" class="com.ml.v2.flow.repository.impl.HttpEventsRepository">
        <constructor-arg index="0"  ref="slotKeyStrategy"/>
    </bean>

    <bean id="httpEventsModel" class="com.ml.v2.model.impl.HttpEventsModel">
        <constructor-arg index="0" ref="httpEventsRepository"/>
        <constructor-arg index="1" value="30"/>
        <constructor-arg index="2" value="15"/>
        <constructor-arg index="3" value="5"/>
    </bean>



</beans>